@charset "UTF-8";
/*
Em HTML é ID  =  em CSS é #
Em HTML é CLASS = em CSS é . 
*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(155, 195, 241, 0.377);
}

h1#principal {
    color: rgb(6, 6, 133);
    text-align: center;
    text-decoration-line: underline;
}

h1 {
    color: rgb(6, 6, 133);
}

h2 {
    color: rgb(69, 69, 207);
}

.basico {
color: rgb(69, 69, 207)
}

.intermediario {
color: rgb(207, 205, 69);
}

.avancado {
color: rgb(207, 69, 69);
}